<h2> <%= @pet.name %></h2>
<img src= <%= @pet.image %>>
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p> <% if @pet.adoptable %>
      Status: Adoptable
    <% else %>
      Status: Not Adoptable
    <% end %></p>
<p>Current shelter: <%= link_to "#{@pet.shelter&.name}", "/shelters/#{@pet.shelter_id}" %></p>
<%= link_to "Edit #{@pet.name}", "/pets/#{@pet.id}/edit" %></br>
<%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %>
