<% @shelters %>

<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
  <h3><a href="/shelter/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <a href="/shelter/<%= shelter.id %>/edit">Edit</a>
  <form action="/shelter/<%=  shelter.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
    </form>
  <% end %>
