<a href="/shelter">Shelter</a>
<h3><%= @shelter.name %></h3>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>
<a href="/shelter/<%= @shelter.id %>/edit">Edit</a>
